<div class="encabezado-evento">
    <div class="contenedor">
        <div class="resumen-evento">
            <!---<%= JSON.stringify(meeti) %>--->
            
            <h1> <%= meeti.titulo %></h1>

            <div class="info-autor">
                <div class="imagen">
                    <% if(meeti.usuario.imagen) { %> 

                        <img src="/uploads/perfiles/<%= meeti.usuario.imagen %>">
                    <% }%>
                    
                </div>
                <div class="informacion">
                    <p>Organizado por:</p>
                    <div class="autor">
                        <a href="/usuarios/<%= meeti.usuario.id %>"><%= meeti.usuario.nombre %></a> Creador de:
                        <a href="/grupos/<%= meeti.grupo.id %>"><%= meeti.grupo.nombre %></a>
                    </div>
                </div>
            </div><!--.info-autor-->
        </div><!--resumen-evento-->

        <div class="pregunta-asistencia">
            <% if(usuario.id) {%>
                <% const existe = meeti.interesados.includes(usuario.id) %>
                <form action="/confirmar-asistencia/<%= meeti.slug %>" id="confirmar-asistencia">
                    <p>¿Asistirás?</p>

                    <% if(existe) { %>
                        <input type="hidden" id="accion" value="Cancelar">
                        <input type="submit" class="btn btn-rojo" value="Cancelar Asistencia">

                    <% } else { %>
                        <input type="hidden" id="accion" value="Confirmar">
                        <input type="submit" class="btn btn-azul" value="¡Sí!">

                    <% } %>     
                    <div id="mensaje"></div>          
                </form>                
                
            <% } else { %> 
                <p>Inicia sesión para confirmar asistencia</p>
            <% } %>
        </div>
    </div>
</div>

<main class="contenido-evento">
    <div class="contenedor">
        <div class="informacion-evento">
            <div class="descripcion">
                <img src="/uploads/grupos/<%= meeti.grupo.imagen %>">
                <%-meeti.descripcion %>
            </div><!--descripcion-->

            <div class="asistentes">
                <div class="titulo">
                    <h3><%= meeti.interesados.length %> Asistentes </h3>
                    <a href="/asistentes/<%= meeti.slug %>">Ver Todos</a>

                </div>
            </div><!--asistentes-->

            <div class="comentarios">
                <h2>Comentarios</h2>
                <div class="comentario">
                    <div class="imagen"></div>
                    <div class="texto">
                        <p>Hola</p>
                        <p>Escrito por: <span>Juliana Olarte</span></p>
                        <input type="button" value="Eliminar" class="btn btn-azul">
                    </div>
                    
                </div>

                <div class="comentario">
                    <div class="imagen"></div>
                    <div class="texto">
                        <p>Hola</p>
                        <p>Escrito por: <span>Juliana Olarte</span></p>
                        
                    </div>
                    
                </div>

                <!--formulario de comentarios-->
                <form action="" class="default-form comentarios">
                    <legend>Agrega un Comentario</legend>
                    <div class="campo">
                        <label>Comentario</label>
                        <textarea name="comentario"></textarea>
                    </div>
                    <div class="campo enviar">
                        <input type="submit" value="Enviar" class="btn btn-rosa">
                    </div>
                </form>
            </div><!--comentarios-->
        </div><!--informacion-evento-->
        
        <aside class="info-evento">

            <div class="info-bloque fecha">
                <% moment.locale('es'); %>
                <% const fecha = meeti.fecha + ' ' + meeti.hora; %>                
                <p class="dato"><%= moment(fecha).format('LLLL') %> Hrs</p>
            </div>

            <div class="info-bloque ubicacion">                
                <p class="dato"><%= meeti.direccion %>, <%= meeti.ciudad %>, <%= meeti.estado %>, <%= meeti.pais %></p>
            </div>

            <!--Mapa-->
            <input type="hidden" id="lat" value="<%= meeti.ubicacion.coordinates[0] %>">
            <input type="hidden" id="lng" value="<%= meeti.ubicacion.coordinates[1] %>">
            <input type="hidden" id="direccion" value="<%= meeti.direccion %>">

           
            <div id="ubicacion-meeti"></div>
           

        </aside>

    </div>
</main>